@model IEnumerable<CartItem>

<h3>Cart Page</h3>
<table class="table">
    <tr>
        <th>Option</th>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    @foreach (var item in ViewBag.cart)
    {
        <tr>
            <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a></td>
            <td>@item.Product.Id</td>
            <td>@item.Product.Title</td>
            <td>@item.Product.UnitPrice</td>
            <td>@item.Quantity</td>
            <td>@(item.Product.UnitPrice * item.Quantity)</td>
        </tr>
    }
    <tr>
        <td align="right" colspan="6">Sum</td>
        <td>
            @ViewBag.total
        </td>
    </tr>
</table>
<br>
