<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Wsei_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                <p class="align-middle navbar-nav">Kontakt: </p>
                <p class="align-middle navbar-nav"> +48 000 000 000</p>
            </div>
            <div class="mx-auto order-0">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <a class="nav-link navbar-nav ml-auto align-middle" href="#">TWOJE KONTO</a>
                @*<p class="navbar-nav ml-auto align-middle"></p>*@
            </div>
        </nav>
        <div class="d-flex flex-row">
            <img src="images/emptylogo.png" class="img-fluid p-0" />

            @*<div class="over" asp-controller="Products" asp-action="Index">
                <p class="">
                    Twój koszyk: 
                </p>
            </div>*@
        </div>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container col">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand" href="#">
                                <img src="images/home.png" width="25" height="25" alt="" class="d-flex flex-wrap align-items-center">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Elektronika"})"><span>Elektronika</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Moda"})"><span>Moda</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Dom i ogród"})"><span>Dom i ogród</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Supermarket"})"><span>Supermarket</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Dziecko"})"><span>Dziecko</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Uroda"})"><span>Uroda</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Zdrowie"})"><span>Zdrowie</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Kultura i rozrywka"})"><span>Kultura i rozrywka</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Sport i turystyka"})"><span>Sport i turystyka</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Motoryzacja"})"><span>Motoryzacja</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("Category", "Products", new {category = "Usługi"})"><span>Usługi</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="col-2 float-right">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Wyszukaj" aria-label="Wyszukaj">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
                </form>
            </div>
        </nav> 
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Shop Name
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
